body{
	text-align: center;
	background: #F3F3F3;
	font-family: 'Roboto', sans-serif;
	padding : 30px;
}

h1{
	color: red;
	margin-top: 12px;
}
.photo{
	width: 300px;
	border: 5px solid #000000;
	border-radius: 10px;
}
.network{
	font-size: 20px;
	color: #FF0000;
	text-decoration: none;
}

.network:hover{
	color:#00FF82;
}